@import '../../styles/variables';

.inputWrap {
  position: relative;
  display: flex;
  align-items: center;
}

.icon {
  position: absolute;
  right: 8px;
  font-size: 18px !important;
  color: $text-light-alt;
  pointer-events: none;
  line-height: 1;
}
